<div xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="app-root-element"></div>


    <script th:src="@{'/bundles/dummy-app.bundle.js'}"></script>


    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        document.addEventListener('DOMContentLoaded', () => {

            console.log(location.pathname);

            let portletModel = {
                message: /*[[${message}]]*/ '',
            };

            let appRootElem = document.getElementById("app-root-element");
            startDummyApp(appRootElem, portletModel);

        });

        /*]]>*/
    </script>

</div>

