<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/


    console.log('------');
    let theList = [[${dataList}]];
    if (!! theList) {
        for (let i = 0; i < theList.length; i++) {
            console.log(theList[i]);
        }
    }

    console.log('------');

    /*]]>*/
</script>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>

        <table>
            <tr th:each="var : ${#vars}">
                <td th:text="${var}"></td>

            </tr>
        </table>

    </div>



</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>